#container {
    background-image: url("chrono_portrait.jpg");
    width: 341px;
    height: 480px;
}

.myButton {
    width: 95px;
    height: 50px;
}

#start {
    position: absolute;
    margin-left: 10px;
    margin-top: 395px;
}
#continue {
    position: absolute;
    margin-left: 120px;
    margin-top: 395px;
}
#pause {
    position: absolute;
    margin-left: 230px;
    margin-top: 395px;
}

#tim {
    position: absolute;
    margin-top: 48px;
    margin-left: 90px;
}